* {
	border-radius: 0px;
	border: 0px;
}
window {
	opacity: 0.9;
	font-size: 24px;
	background-color: rgba(16,16,16,1);
}

#input {
	background-color: rgba(16,16,16,1);
	color: rgba(232,232,232,1);
	padding: 8px;
	box-shadow: none;
}

#input:selected{
	background-color: rgba(0,0,0,1);
	border: rgba(0,0,0,0);
}

#scroll {
}

#text {
	color: rgba(130,130,130,1);
}

#entry{
	padding: 8px;
}

#entry:selected {
	outline-style: solid;
	outline-color: rgba(255,255,255,1);
	background: linear-gradient(50deg,rgba(0,0,0,0), rgba(99,99,99,0));
}

#text:selected {
	color: rgba(232,232,232,1);
}
